<section class="service-collection">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-11 mx-auto text-center">
                    <span class="h2">Top Seller Books We've Launched</span>
                    <p>From psychological thrillers to self‑help guides, our titles have hit #1 across Amazon KDP, Apple Books, and Kobo. Here’s what happens when Premium eBook Services meets the right launch strategy.</p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="splide services-slider" aria-label="Our Best American Book Founders">
                <div class="splide__track">
                    <div class="splide__list">
                        <div class="splide__slide">
                            <img src="assets/images/slider-images/1.jpg" class="img-fluid  ct-slider-img-h" alt="sample" title="sample" loading="lazy" width=323 height=473 />
                        </div>
                        <div class="splide__slide">
                            <img src="assets/images/slider-images/2.jpg" class="img-fluid  ct-slider-img-h" alt="sample" title="sample" loading="lazy" width=323 height=473 />
                        </div>
                        <div class="splide__slide">
                            <img src="assets/images/slider-images/3.jpg" class="img-fluid  ct-slider-img-h" alt="sample" title="sample" loading="lazy" width=323 height=473 />
                        </div>
                        <div class="splide__slide">
                            <img src="assets/images/slider-images/4.jpg" class="img-fluid  ct-slider-img-h" alt="sample" title="sample" loading="lazy" width=323 height=473 />
                        </div>
                        <div class="splide__slide">
                            <img src="assets/images/slider-images/5.jpg" class="img-fluid  ct-slider-img-h" alt="sample" title="sample" loading="lazy" width=323 height=473 />
                        </div>
                        <div class="splide__slide">
                            <img src="assets/images/slider-images/6.jpg" class="img-fluid  ct-slider-img-h" alt="sample" title="sample" loading="lazy" width=323 height=473 />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
