<section class="content-area text-lg-start text-center">
        <div class="container">
            <div class="row gy-4">
                <div class="col-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="main_jar">
                        <div class="text-box">
                            <div class="text-box chg"></div>
                        </div>
                        <h2 class="h5">No Juggling. No Separate Logins. One Click, 15+ Retailers. American Book Founders pushes your book to Amazon, Apple Books, Kobo, Google Play, Barnes & Noble, and more simultaneously, with a single upload.</h2>
                    </div>
                </div>
                <div class="col-12 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                    <div class="main-img">
                        <img src="assets/images/simple/malaysian-ebook-publishing2.webp" class="feature-image" alt="Publishing support illustration">
                    </div>
                </div>
            </div>
        </div>
    </section>
