<section class="cta-service text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 mx-auto">
                    <h2 class="h2">We don't guess. We execute. That's why your book sees real sales, real readers, and real royalties, starting day one.</h2>
                    <span class="h5 d-block"> Own Your Corner of the Digital Bookshelf</span>
                    <a href="https://instantbookpublishers.com/contact" class="btn-live"> PUBLISH MY NEXT BOOK</a>
                    <a href="tel:+1 (281) 822-3165" class="btn-call"> 
                        <i class="fa-brands fa-whatsapp"></i> 
                        <span><small> Connect with us</small> +1 (281) 822-3165 </span>
                    </a>
                </div>
            </div>
        </div>
    </section>
