<section class="service-sec-two text-center text-lg-start">
        <div class="container">
            <div class="row gy-4 align-items-center">
                <div class="col-12 col-lg-6">
                    <img src="assets/images/simple/malaysian-ebook-publishing.jpg"
                        class="img-fluid" alt="book publishing" title="book publishing"
                        loading="lazy" width=546 height=462 />
                </div>
                <div class="col-12 col-lg-6">
                    <h2 class="h2">One Manuscript. 40+ Marketplaces. Zero Extra Work.</h2>
                    <p>Looking for book publishers near you with global reach? American Book Founders places your book, fiction, nonfiction, children's, or self-help on Amazon, Apple Books, Barnes & Noble, Kobo, Google Play, and beyond.</p>
                    <ul>
                        <li>Custom Placement Strategy</li>
                        <li> Faster Platform Approval </li>
                        <li> Stronger Book Sales </li>
                        <li> Wider Global Readership </li>
                    </ul>
                </div>
                <div class="splide brands-slider" role="group" aria-label="American Book Founders Brands">
                    <div class="splide__track">
                        <div class="splide__list">
                            <div class="splide__slide"><img src="assets/images/simple/convert-kit.webp"
                                    class="img-fluid " alt="Convert Kit" title="Convert Kit" loading="lazy"
                                    width=218 height=80 /></div>
                            <div class="splide__slide"><img src="assets/images/simple/kindle-preneur.webp"
                                    class="img-fluid " alt="Kindle Preneur" title="Kindle Preneur"
                                    loading="lazy" width=218 height=80 /></div>
                            <div class="splide__slide"><img
                                    src="assets/images/simple/miracle-morning.webp"
                                    class="img-fluid " alt="Miracle Morning" title="Miracle Morning"
                                    loading="lazy" width=218 height=80 /></div>
                            <div class="splide__slide"><img src="assets/images/simple/fast-company.webp"
                                    class="img-fluid " alt="Fast Company" title="Fast Company" loading="lazy"
                                    width=218 height=80 /></div>
                            <div class="splide__slide"><img src="assets/images/simple/inc.webp"
                                    class="img-fluid " alt="INC." title="INC." loading="lazy" width=218
                                    height=80 /></div>
                            <div class="splide__slide"><img src="assets/images/simple/amazon.webp"
                                    class="img-fluid " alt="Amazon" title="Amazon" loading="lazy" width=218
                                    height=80 /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
