<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <img src="assets/images/logo/logo.png" class="img-fluid  mb-4 footer_logo"
                    alt="American Book Founders"/>
                <p>
                    American Book Founders is your global publishing partner offering world-class expertise to
                    secure your 100% royalties and lasting legacy.
                </p>
            </div>
            <div class="col-12 col-lg-4">
                <span class="h5 mt-0">
                    Contact Us
                </span>
                <ul class="more-links">
                    <li>
                        <a class="cont-link" target="_blank" href="tel:+1 (281) 822-3165"> 
                            <i class="fa-solid fa-phone"></i>
                            +1 (281) 822-3165 
                        </a>
                    </li>
                    <li>
                        <a class="cont-link" target="_blank" href="mailto:info@americanbookfounders.com "> 
                            <i class="fa-solid fa-envelope"></i>
                            info@americanbookfounders.com  
                        </a>
                    </li>
                    <li>
                        <a class="cont-link"> 
                            <i class="fa-solid fa-location-dot"></i>
                             5900 Balcones Drive STE 100, Austin, Texas, 78731  
                        </a>
                    </li>
                </ul>
                <div class="social-icons">
                    <a href="https://www.facebook.com/instantbookpublishersus/" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="https://www.instagram.com/instantbookpublishersus" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/instant-book-publishers" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                    <a href="https://www.pinterest.com/instantbookpublishersus/" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-pinterest-p"></i>
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <img src="assets/images/icons/accredited-business.svg" class="simple-img img-fluid " alt="BBB" title="BBB" loading="lazy" width=183 height=72 />
                <img src="assets/images/icons/google-reviews.svg" class="simple-img img-fluid " alt="Google Reviews" title="Google Reviews" loading="lazy" width=202 height=64 />
                <img src="assets/images/simple/amazon.svg" class="simple-img img-fluid " alt="Amazon" title="Amazon" loading="lazy" width=200 height=64 />
                <img src="assets/images/icons/dmca-protected.svg" class="img-fluid " alt="DMCA Protected" title="DMCA Protected" loading="lazy" width=280 height=47 />
            </div>
        </div>
    </div>
</footer>

<div class="footer-bottom">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 text-center text-md-start"><span class="d-block">
                    © <span id="year"></span> - American Book Founders. All Rights Reserved.</span>
            </div>
            <div class="col-12 col-md-6 text-center text-md-end">
                <ul>
                    <li class="mb-0">
                        <a href="https://instantbookpublishers.com/terms-condition">Term & Conditions</a>
                    </li>
                    <li class="mb-0">
                        <a href="https://instantbookpublishers.com/privacy-policy">Privacy Policy</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
