<header class="main-header pt-0 pb-0" id="scroll-control">
        <div class="top-bar">
            <div class="container">
                <div class="menu-right">
                    <div class="connect">
                        <a class="mail" href="mailto:info@americanbookfounders.com  ">
                            <i class="fa-solid fa-envelope-open-text"></i><span> info@americanbookfounders.com </span>
                        </a>
                        <a class="call-us" href="tel:+12818223165">
                            <i class="fa-brands fa-whatsapp"></i><span> +1 (281) 822-3165 </span>
                        </a>
                    </div>
                    <div class="social-icons">
                        <span class="h6">Connect to us:</span>
                        <a href="https://www.facebook.com/americanbookfounders/" target="_blank" rel="noopener noreferrer">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a href="https://www.instagram.com/americanbookfounders" target="_blank" rel="noopener noreferrer">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="https://www.linkedin.com/company/americanbookfounders" target="_blank" rel="noopener noreferrer">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                        <a href="https://www.pinterest.com/americanbookfounders/" target="_blank" rel="noopener noreferrer">
                            <i class="fa-brands fa-pinterest-p"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <picture>
                        <img src="assets/images/logo/logo.png" class="img-fluid order_logo" alt="logo" 
                        loading="lazy"/>
                    </picture>
                </a>
                <button class="navbar-toggler" type=button data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <ul class="navbar-nav align-items-center">
                        <!-- <li class="nav-item"><a class="nav-link" href="https://instantbookpublishers.com/book-editing">Book Editing</a></li> -->
                        <!-- <li class="nav-item"><a class="nav-link" href="https://instantbookpublishers.com/book-proofreading">Book Proofreading</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://instantbookpublishers.com/book-formatting">Book Formatting</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://instantbookpublishers.com/marketing">Book Marketing</a></li> -->
                    </ul>
                <div class="mobile-menu-contact">
                    <a class="mail" href="mailto:info@americanbookfounders.com">
                        <i class="fa-solid fa-envelope-open-text"></i><span>info@americanbookfounders.com</span>
                    </a>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/americanbookfounders/" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a href="https://www.instagram.com/americanbookfounders" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="https://www.linkedin.com/company/americanbookfounders" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                        <a href="https://www.pinterest.com/americanbookfounders/" target="_blank" rel="noopener noreferrer" aria-label="Pinterest">
                            <i class="fa-brands fa-pinterest-p"></i>
                        </a>
                    </div>
                </div>
                <a href="javascript:;" class="btn-chat"onclick="return LC_API.open_chat_window(),!1">
                    <img src="assets/images/icons/live-chat.svg" class="img-fluid" alt="Chat"
                        title="Chat" width=23 height=22 loading="eager"/>Live Chat
                </a>
                <div class="round">
                    <a href="javascript:void(0)" onclick="openModal(); return false;" class="btn-order"> GET A FREE QUOTE </a>
                </div>
                </div>
            </div>
        </nav>
    </header>
